html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.center-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  position: relative;
}
.main-header-logo {
  width: 140px;
  height: 72px;
  position: absolute;
  top: 0;
  left: 50%;

  z-index: 1;

  margin-left: -70px;
}

.main-navigation {
  background-color: #fff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation li:nth-child(4n-2) {
  margin-right: 240px;
}
.site-navigation a {
  display: inline-block;
  text-align: center;
  width: 240px;
  padding: 15px 0;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:active {
  color: #cacaca;
}

.intro-welcome {
  position: relative;
  height: 510px;
  margin-bottom: 60px;
  overflow: hidden;
}

.intro-welcome::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url('../img/polygon.svg') 0 0 no-repeat;
}

.intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -184px;
  margin-left: -240px;
}

.intro-bg {
  margin-top: -55px;
}

.intro-desc {
  width: 570px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 21px;
  line-height: 26px;
}

.highlight p {
  color: #333;
  line-height: 26px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 50px;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 25px;
}

.feature-desc p {
  padding-top: 30px;
  margin: 0;
}

.feature {
  display: flex;
  color: #fff;
  text-align: center;
}

.feature-feature {
  padding-bottom: 50px;
}

.feature-desc {
  width: 400px;
  padding: 45px 20px;
  background-color: #81b3d2;
}
.feature-left {
  order: 1;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features-dark {
  background-color: #eeeeee;
  padding-top: 30px;
}

.features-item {
  flex-basis: 350px;
  padding: 40px;
  text-align: center;
}

.features-item p {
  padding-bottom: 30px;
}

.feature-icon1 {
  padding-top: 100px;
  background: url('../img/icon-1.svg') 135px 20px no-repeat;
}

.feature-icon2 {
  padding-top: 100px;
  background: url('../img/icon-3.svg') 135px 20px no-repeat;
}

.feature-icon3 {
  padding-top: 100px;
  background: url('../img/icon-2.svg') 135px 20px no-repeat;
}

.appointment-header {
  width: 565px;
  margin: 0 auto;
  text-align: center;
}

.appointment-header p {
  padding-bottom: 50px;
}

.appointment-header h2 {
  font-size: 30px;
  line-height: 36px;
  padding-top: 55px;
}
.appointment {
  position: relative;
  text-transform: uppercase;
}
.search-form {
  position: absolute;
  top: 292px;
  left: 50%;
  margin-left: -282.5px;
  width: 565px;
  padding: 55px;
  font-weight: bold;
  background-color: #fff;
}
.search-form input {
  font-weight: bold;
  border: 0;
  text-transform: uppercase;
}
.search-form p:not(.quantity-filter) {
  margin-top: 0;
  margin-bottom: 24px;
}

.calendar {
  position: relative;
  display: flex;
  align-items: center;
}
.calendar input {
  width: 343px;
  margin-left: auto;
  padding: 13px;
  background-color: #f2f2f2;
}
.date {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 22px;
  height: 220px;
  cursor: pointer;
}
.date svg {
  fill: #adadad;
}
.date:hover svg {
  fill: #000;
}
.date:active svg {
  fill: #82b3d3;
}

.quantity-area {
  display: inline-block;
  vertical-align: top;
  height: 38px;
}
.quantity-area label {
  margin-right: 27px;
  vertical-align: middle;
}
.quantity-area input {
  font-size: 14px;
  padding: 0;
  width: 38px;
  height: 38px;
  text-align: center;
  vertical-align: top;
  background-color: #f2f2f2;
}
.quantity-area button {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.quantity-area button::before,
.right::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}
.right::after {
  transform: rotate(90deg);
}
.quantity-area button:hover::before,
.right:hover::after {
  background-color: #000;
}
.quantity-area button:active::before,
.right:active::after {
  background-color: #82b3d3;
}

.quantity-filter {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 0;
}
.adults {
  margin-right: 52px;
}
.search-button {
  margin-top: 58px;
  padding: 15px 0;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: #81b3d2;
}
.map {
  height: auto;
  background: url('../img/map.jpg') no-repeat 0 0;
}

.button {
  display: inline-block;
  padding: 10px;
  font-weight: 700;
  color: #fff;
  background-color: #766357;
}
.button:hover {
  background-color: #604e43;
}
.button:active {
  color: #928a85;
}

.button-big {
  width: 565px;
  font-size: 21px;
  line-height: 26px;
  padding: 20px;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 40px 80px;
  width: 100%;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.9);
}

.visitsedona {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-right: 300px;
  padding: 20px 0;
}

.social-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 180px;
  max-width: 250px;
  padding: 0;
  margin-right: 150px;
  list-style: none;
}

.social-twitter {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: #81b3d2 url('../img/twitter.svg') 50% 50% no-repeat;
}

.social-facebook {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: #81b3d2 url('../img/fb-icon.svg') 50% 50% no-repeat;
}

.social-youtube {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: #81b3d2 url('../img/youtube.svg') 50% 50% no-repeat;
}

.copyright {
  padding: 20px 0;
  width: 250px;
}
.copyright span {
  margin-right: 10px;
}
.copyright-logo {
  display: inline-block;
  vertical-align: middle;
}
.copyright-logo:hover path{
  fill: red;
}

.filter {
  position: absolute;
}

.type {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.type span {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 70px;
}

.type p {
  padding-left: 50px;
}

.type li {
  list-style: none;
  display: inline-block;
  padding-right: 30px;
}

/*search*/

fieldset {
  border: 0;
}

.search {
  display: flex;
  min-height: 220px;
  padding: 25px 70px;
  background-image: url(../img/search.jpg);
}

.filter-range {
  margin-left: auto;
}

.check {
  display: flex;
}

/*search2*/


.search2 {
  display: flex;
  align-items: center;
  padding: 25px 75px;
  border-bottom: 2px solid #f2f2f2;
}

.control {
  margin-left: auto;
}

.control a {
 display: inline-block;
 width: 10px;
 height: 10px;
 cursor: pointer;
 margin-right: 10px;
}
.control path {
  fill: blue;
}

.control a:hover path {
  fill: black;
}

.control a:active path {
  fill: red;
}



.search2 li {
  list-style: none;
}
.search2 span {
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
}

.sorting {
  display: flex;
  color: #81b3d2;
}

.sortings {
  color: #cacaca;
  border-bottom: 2px dotted #81b3d2;
}

.sorting p {
  margin: 0;
  margin-right: 50px;
}
.sorting-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.sorting-list li:not(:last-child) {
  margin-right: 10px;
}
/*search3*/

.amara {
    border-bottom: 2px solid #e5e5e5;
}



.desc {
  width: 300px;
}


.rating {

}

.filter-form1 {
  margin-right: 100px;
}

.check input {
  display: none;
}

.check label {
  display: block;
  color: #fff;
  padding: 10px 10px 10px 50px;
  background: url('../img/checkbox-off.svg') 5px 5px no-repeat;
  padding-bottom: 15px;
}

.check input:checked + label {
  background-image: url('../img/checkbox-on.svg');
}

/*калькулятор*/

.filter-range {
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

legend {
  color: #fff;
  padding-bottom: 25px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 30px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 163px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.hotel {
  display: flex;
  padding: 25px 70px;
  border-bottom: 2px solid #f2f2f2;
}

.hotel h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  line-height: 26px;
}

.dest-type {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 13px;
}

.dest-type a {
  color: #333333;
}

.button-blue {
  padding: 3px 15px;
  background-color: #81b3d2;
  font-weight: bold;
  line-height: 21px;
  color: #fff;

}

.button-gray {
  padding: 3px 15px;
  background-color: #766357;
  font-weight: bold;
  line-height: 21px;
  color: #fff;
}

.rating span {
  padding: 7px 10px;
  background-color: #f2f2f2;
  color: #333333;
  line-height: 21px;
}

.hotel-picture {
  margin-right: 20px;
  width: 135px;
  height: 90px;
}
.rating {
  max-width: 200px;
  margin-left: auto;
}
.rating-stars {
  margin-bottom: 50px;
}
.rating-stars span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../img/star.svg') 0 0 no-repeat;
}
/*footer*/

.main-footer-inner {
  bottom: 0;
  left: 0;
  display: flex;
  padding: 20px 100px;
  width: 100%;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.9);
}

